h1 {
  color: #26514a;
  text-align: center;
  font-family: 'Prompt', sans-serif;
}
body {
  background-color: #f0f0e9;
}
img {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

img:hover.ayaka{
  opacity: 1;
  height: 200px;
  weight: 200px;
  border-width: 8px;
  border-style: ridge;
  border-color: cyan;
  border-radius: 20px;
}

img:hover.ganyu{
  opacity: 1;
  height: 200px;
  weight: 200px;
  border-radius: 20px;
  box-shadow: 20px 20px 10px cyan;
}

img:hover.beidou{
  opacity: 1;
  height: 200px;
  weight: 200px;
  border-radius: 20px;
  box-shadow:20px 20px 50px 10px green inset;
}

img:hover.kazuha{
  opacity: 1;
  height: 200px;
  weight: 200px;
  border-width: 20px;
  border-style: outset;
  border-color: cyan;

}

img:hover.razor{
  opacity: 1;
  height: 200px;
  weight: 200px;
  border-radius: 20px;
  box-shadow: 20px 20px 50px 10px cyan;
  box-shadow:20px 20px 50px 10px green outset;
}
