body {
	background-color: #26514a;
}

h2 {
  text-align: center;
  color: #c1a083;
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
}

div > h4 {
  text-align: center;
  color: #c1a083;
  font-family: 'Prompt', sans-serif;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #c1a083;
}

hr {
  width: 70%;
}


h4 > a:hover {
  text-align: center;
  color: #c1a083;
  font-family: 'Prompt', sans-serif;
  font-size: 30px;
}
